.view-btns{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 10001;
	height: 40px;
	padding: 20px;
	width: 140px;
	border-radius: 20px;
	background: rgba(0,0,0,.2);
	display:flex;
	justify-content: space-between;
	align-items: center;
	.btn{
		.anticon{
			font-size:20px;
		}
	}
}