.tool{
	color: #fff;
	box-sizing: border-box;
	border-top: 1px solid #eee;
	height: calc(100vh - 40px);
	box-shadow: 0 -2px 20px 0 rgba(39,54,78,.1);
  border-left: 1px solid #eee;
  	overflow: auto;
  	.ant-tabs-nav{
  		.anticon{
  			font-size:16px;
  		}
  	}
  	.ant-tabs-content{
  		.alls{
        display: flex;
        flex-wrap: wrap;
        height: calc(100vh - 100px);
        overflow: auto;
        .component{
          box-sizing: border-box;
          display: flex;
          align-items: center;
          align-content: center;
          width: 73px;
          height: 73px;
          margin: 1px;
          cursor: move;
          i{
            font-size: 20px;
          }
          .item{
          margin: 0 auto;
          }
          &:hover{
            background: #eee;
          }
        }
      }
  	}
}