@import '~antd/dist/antd.css';

.container{
  width: 1200px;
  margin: 0 auto;
}
.main{
  display: flex;
  justify-content: space-between;
}
.main .canvas{
  flex: 1;
  height: calc(100vh - 60px);
  overflow: auto;
}

.main .side{
  width: 40px;
}

.main .tool{
  width: 300px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
